html, body, #root, .App {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.App{
  display: flex;
  flex-direction: column;
  background-color: orange;
}
main{
  height: 100%;
}
/* Utility classes start*/

.container{
  margin: 0 auto;
  width: min(95%, 1400px);
  background-color: red;
  height: 100%;
  margin-bottom: 1rem ;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
  background-color: aqua;
}

/* Utility classes end */

.definition-wrapper{
  width: 100%;
}
.kanji-and-examples{
  width: 50%;
}

.result-select{
  height: 90vh;
  overflow-y: scroll;
  font-size: 1rem;
  width: 12rem;
}
nav {
  background-color: green;
}


.radical-button{
  display: inline-block;
}
.radical-checkbox{
  display: none;
}
.radical-select{
  height: 200px;
  overflow: auto;
  margin-bottom: 2rem;
}