:root{
  --bg-100: rgb(43, 43, 43);
  --bg-200: rgb(70, 70, 70);
  --bg-300: rgb(122, 122, 122);
  --text-color: white;
  --primary-color-50: rgb(38, 90, 233);
  --primary-color-100: rgb(57, 105, 240);
  --primary-color-300: rgb(67, 115, 240);
  --primary-color-600: rgb(89, 248, 195);
}
*{
  font-family: "Arial, ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
html {overflow-y: scroll; }
html, body, #root, .App {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  background-color: var(--bg-100);
}
.App{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);
}
.App > *{
  flex-shrink: 0;
}
main{
  min-height: 80%;
  height: fit-content;
}
button:hover{
  cursor: pointer;
}

/* Utility classes */
.container{
  margin: 0 auto;
  height: 100%;
  width: min(95vw, 1400px);
  margin-bottom: 1rem ;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex{
  display: flex;
  transition: all, 200ms, ease-in-out;
  flex-direction: column;
}
@media (min-width: 700px){
  .flex{
    flex-direction: row;
  }
  .flex-center{
    flex-direction: row;
  }
}
.row{
  flex-direction: row;
}
.large-only{
  display: none;
}
@media (min-width: 1000px){
  .large-only{
    display: block;
  }
  .small-only{
    display: none;
  }
}
.visible{
  display: initial !important;
}


/* navbar */
nav {
  background-color: var(--primary-color-100);
  z-index: 20;
  padding: 0.8rem 0;
  height: max(55px, fit-content);
}
.nav-button-wrapper{
  display: flex;
  align-items: center;
  width: min(300px, 90%);
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.nav-button-wrapper *{
  font-family: Arial, Helvetica, sans-serif !important;
}
@media (min-width: 700px){
  .nav-button-wrapper{
    width: fit-content;
  } 
}
.input-method-button{
  color: white;
  font-size: 1.4rem;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 100ms ease; 
  width: 3.4rem;
  height: 3.4rem;
  padding: 0;
}
@media (hover: hover) and (pointer: fine) {
  .input-method-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
  }
}
.button-desc{
  font-size: 0.8rem;
}
.example-switch{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 0.95rem;
  height: 2rem;
  transition: background-color 120ms ease-in-out;
  width: 94px;
}
.example-switch:hover{
  background-color: var(--primary-color-50);
}
@media (min-width: 700px){
  .example-switch{
    margin-right: 1rem;
    order: -1;
  }
}
/*Search select*/
.search-select-wrapper{
  display: flex;
  width: min(300px, 90%);
  margin: 0;
}
@media(min-width: 700px){
  .search-select-wrapper{
    margin: 0 0.7rem;
  }
}
#search{
  border: none;
  outline: none;
  max-height: 100%;
  font-size: 1rem;
  height: 30px;
  padding-left: 0.4rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}
.search-select-wrapper > select{
  outline: none;
  border: none;
  height: 100%;
  padding: 0.5rem;
  height: 32px;
  border-left: 1px solid rgba(128, 128, 128, 0.377);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-select-wrapper > select:hover{
  cursor: pointer;
}
/*About and lightmode*/
.about-settings-wrapper{
display: flex;
width: 100%;
justify-content: end;
margin: 0;
}
@media (min-width: 700px){
  .about-settings-wrapper{
    display: flex;
    position: absolute;
    top:0.4rem;
    justify-content: end;
    margin: 0;
  }
}
.about-button{
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.lightmode-input{
  display: none;
}
.lightmode-label{
  background-color: rgb(43, 43, 43);
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  padding: 0.2rem;
  border-radius: 25px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.lightmode-label:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  background-color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 50%;
}
.lightmode-input:checked + .lightmode-label{
  background-color: white;
}
.lightmode-input:checked + .lightmode-label:before{
  transform: translateX(1rem);
  background-color: rgb(43, 43, 43);
}



/* Definition display */
.definition-wrapper{
  flex-basis: 100%;
}
.definition-wrapper h1{
  margin: 1rem 0;
  border-bottom: 1px solid var(--bg-300);
}
.definition-wrapper ol{
  margin: 0;
  padding: 0 2rem;
}
.pos{
  font-weight: 100;
  font-size: 0.85rem;
  opacity: 0.63;
  color: var(--text-color);
  line-height: 1.2rem;
}
.definition-wrapper li{
  font-size: 1.15rem;
  margin-bottom: 0.8rem;
}


/* result select */
.result-select{
  height: 2rem;
  overflow-y: scroll;
  font-size: 1rem;
  width: 12rem;
  margin: 1rem auto;
  background-color: white;
}
@media (min-width: 700px){
  .result-select{
    height: 95%;
    max-height: 600px;
    box-shadow: inset 0px 0px 100px 35px var(--bg-100);
    background-color: var(--bg-200);
    color: var(--text-color);
    margin-right: 1rem;
  }
}
.result-select::-webkit-scrollbar{
  width: 10px;
  transition: all 2000ms ease-in-out;
}
.result-select::-webkit-scrollbar-track{
  background-color: white;
}
.result-select::-webkit-scrollbar-thumb{
  background-color: var(--primary-color-300);
}
.result-select::-webkit-scrollbar-thumb:hover{
  background-color: var(--primary-color-100);
}


/* Examples */
.example-wrapper{
  display: none;
  flex-basis: 70%;
}
.example-wrapper ul {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}
.example-wrapper li {
  padding: 0.5rem 0.7rem;
  border: 1px solid var(--text-color);
  border-top: none;
}
.example-wrapper li:nth-child(odd) {
  background-color: var(--bg-200);
}
.example-wrapper li:nth-child(1) {
  border-top: 1px solid var(--text-color);
}
@media (min-width: 1000px){
  .example-wrapper{
    display: initial;
  }
}


/*Radical input*/
#radical-lookup-wrapper{
  height: fit-content;
  transition: max-height 200ms ease-in-out;
  animation-name: slide-in-top;
  overflow: hidden;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  background-color: var(--bg-300);
  padding: 0.6rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.3rem;
}
.radical-input{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31px, 1fr));
}
.radical-input > span{
  width: 100%;
  background-color: var(--bg-200);
}
.reset-button{
  grid-column: 1 / 3;
  width: 100%;
  padding: 0;
}
.radical-input > * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
}
.radical-button{
  display: inline-block;
  color: var(--primary-color-600);
}
.radical-button > label{
  width: 100%;
  aspect-ratio: 1 / 1;
}
.radical-button :checked + label{
  color: black !important;
  background-color: white;
}
.enabled-radical:hover{
  cursor: pointer;
}
.disabled-radical{
  opacity: 0.2;
  pointer-events: none;
}
.radical-checkbox{
  display: none;
}
/*radical select*/
.radical-select{
  background-color: var(--bg-100);
  height: 200px;
  overflow: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31px, 1fr));
  grid-template-rows: repeat(auto-fill, 31px);
}
.radical-select > button {
  color: var(--primary-color-600);
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}
@keyframes slide-in-top{
  from{
    max-height: 0;
  }
  to{
    max-height: 550px;
  }
}
.slide-out-top{
  animation-name: slide-out-top !important;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes slide-out-top{
  from{
    max-height: 550px;
  }
  
  to{
    padding: 0 0.6rem;
    max-height: 0px;
  }
}


/* Handwriting Input*/
.handwriting{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  animation-name: slide-in-top;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  margin-bottom: 2rem;
  border: 1px solid var(--text-color);
}
#handwriting-wrapper span{
  color: black;
  font-size: 2rem;
}
.handwriting-canvas{
  background-color: var(--text-color);
  overflow: hidden;
}
.handwriting-results-wrapper{
  border-top: 1px solid var(--bg-100);
  display: flex;
  max-width: 95vw;
  background-color: var(--text-color);
}
.handwriting-results{
  height: 2rem;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.handwriting-results > button{
  background-color: var(--text-color);
  color: var(--bg-100);
  border: none;
  outline: none;
  font-size: 1.3rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.handwriting-results > button + *{
  border-left: 1px solid var(--bg-100);
}
.handwriting-results > button:last-child{
  border-right: 1px solid var(--bg-100);
}
.clear-ink-button{
  background-color: white;
  border: none;
  outline: none;
  aspect-ratio: 2/1;
  border-right: 1px solid rgba(0, 0, 0, 0.336);
}
/* Canvas needs translateY to move for some reason */
.slide-out-top-canvas{
  animation-name: slide-out-top-canvas !important;
  animation-duration: 200ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes slide-out-top-canvas{
  from{
    max-height: 550px;
    transform: translateY(0);
  }
  to{
    max-height: 0;
    transform: translateY(-550px);
  }
}


/* Popup */
.close-popup{
  position: absolute;
  padding: 1rem 0.7rem;
  right: 1rem;
  background-color: transparent;
  border: none; 
  font-size: 1.5rem;
  top: 0;
}
.popup-bg{
  z-index: 31;
  background-color: rgba(0, 0, 0, 0.363);
  width: 100vw;
  height: 100vh;
  max-width: 100vw !important;
  max-height: 100vh!important;
  margin: 0 !important;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.aboutPopup{
  width: min(100%, 600px);
  height: fit-content;
  margin: 2rem auto;
  background-color: white;
  position: relative;
  max-width: 800px;
  color: black;
}
.aboutPopup h2{
  color: var(--primary-color-50);
}
.aboutPopup > * {
  margin: 0 1rem;
  padding: 1rem 0;
}


/*misc*/
.no-results{
  margin: 3rem auto;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.75;
  max-width: 800px;
}
@media (min-width: 1000px){

}